@import '../../../../../css/sass/layout.scss';

menu{
    width: 15vw;
    height: 100%;
    box-sizing: border-box;

    border-right: 1px solid $gray-4;

    ul{
        
        li{
            height: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                width: 100%;
                box-sizing: border-box;
                padding: 1vh 45px;

                color: $gray-1;
            }
        }
    }
}