// Brand-colors
$blue-normal: #72C9F8;
$blue-dark: #015488;
$blue-dark2: #003D64;
$blue-light: #0E9DEB;

$yellow: #EFA61F;
$red: #FF5247;
$purple: #871FEF;
$green: #4ABEAA;


// Gray Scale
$gray-1: #878787;
$gray-2: #F1F1F1;
$gray-3: #454545;
$gray-4: #F2F2F2;
$gray-5: #E0E0E0;