@import '_colors.scss';
@import 'tipography.scss';
@import '_colors.scss';

*{
    margin: 0;
    padding: 0;
}


.btn1{
    box-sizing: border-box;
    padding: 10px 35px;

    background-image: linear-gradient(to right, $blue-light , $blue-dark);
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

    border: 0;
    border-radius: 5px;

    cursor: pointer;

}

.btnY{
  box-sizing: border-box;
  padding: 15px 40px;

  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;

  background-color: $yellow;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

  border: 0;
  border-radius: 5px;

  cursor: pointer;
}

.btnP{
  box-sizing: border-box;
  padding: 20px 60px;

  width: 25vw;
  height: 7vh;

  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;

  background-color: $purple;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

  border: 0;
  border-radius: 5px;

  cursor: pointer;
}


.flex{display: flex;}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    //align-items: center;

    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 0.5vw;
    margin: .2vw 0;
}
  
  ::-webkit-scrollbar-track {
    border-radius: 3px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba($color: #000000, $alpha: 0.4); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #000000, $alpha: 0.6); 
  }

