h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 200;
  color: #878787;
}

h2 {
  font-size: 48px;
  font-weight: 200;
  color: #878787;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  color: #0E9DEB;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #454545;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  font-family: "Montserrat", sans-serif;
}

b {
  color: #878787;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.btn1 {
  box-sizing: border-box;
  padding: 10px 35px;
  background-image: linear-gradient(to right, #0E9DEB, #015488);
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btnY {
  box-sizing: border-box;
  width: 15vw;
  height: 6vh;
  padding: 15px 40px;
  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
  background-color: #EFA61F;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btnP {
  box-sizing: border-box;
  padding: 20px 60px;
  width: 25vw;
  height: 7vh;
  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
  background-color: #871FEF;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5vw;
  margin: 0.2vw 0;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.body-studeo {
  display: grid;
  grid-template-columns: 15% 85%;
}
.body-studeo header {
  grid-column: 1/3;
  padding: 0;
  max-width: 100%;
}
.body-studeo menu {
  grid-column: 1/2;
  padding: 0;
}
.body-studeo section {
  grid-column: 2/3;
  justify-content: center;
  height: 93vh;
  position: relative;
}
.body-studeo section h4 {
  text-align: center;
  margin: 5vh 0;
}
.body-studeo section a {
  color: #0E9DEB;
  font-weight: 500;
  text-align: center;
}
.body-studeo section .goD {
  width: 130px;
  margin: 5vh auto;
}
.body-studeo section .arq {
  margin: 5vh auto;
}
.body-studeo section .section-btn {
  display: flex;
  gap: 5vw;
  width: 800px;
  margin: 10vh auto;
}
.body-studeo section .b-cards {
  width: 75%;
  gap: 15px;
  justify-content: center;
  margin: 10vh auto;
}
.body-studeo section .bAndamento {
  gap: 15px;
  justify-content: center;
  margin-top: 5vh;
}
.body-studeo section .bAndamento .andamentoItem {
  width: 20vw;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}
.body-studeo section .bAndamento .andamentoItem .progressBar {
  width: 100%;
  height: 0.4vh;
  background-color: #878787;
}
.body-studeo section .bAndamento .andamentoItem .progressBar .progress {
  width: 85%;
  height: 0.4vh;
  background-color: #0E9DEB;
}
.body-studeo section .bAndamento .andamentoItem .progressBar .progress2 {
  background-color: #EFA61F;
  width: 20%;
  height: 0.4vh;
}
.body-studeo section .bAndamento .andamentoItem .aFooter {
  font-size: 0.7rem;
  text-align: center;
  color: #878787;
  margin-top: 1vh;
}
.body-studeo section .textDiciplinas {
  padding: 0 10%;
  text-align: center;
}

.container-studeo {
  max-width: calc(100vw - 1fr);
  margin: 0 auto;
}/*# sourceMappingURL=style-studeo.css.map */