h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 200;
  color: #878787;
}

h2 {
  font-size: 48px;
  font-weight: 200;
  color: #878787;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  color: #0E9DEB;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #454545;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  font-family: "Montserrat", sans-serif;
}

b {
  color: #878787;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.btn1 {
  box-sizing: border-box;
  padding: 10px 35px;
  background-image: linear-gradient(to right, #0E9DEB, #015488);
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btnY {
  box-sizing: border-box;
  width: 15vw;
  height: 6vh;
  padding: 15px 40px;
  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
  background-color: #EFA61F;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btnP {
  box-sizing: border-box;
  padding: 20px 60px;
  width: 25vw;
  height: 7vh;
  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
  background-color: #871FEF;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5vw;
  margin: 0.2vw 0;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.wrapper {
  height: 80vh;
  max-width: 100%;
  position: relative;
}
.wrapper .slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.wrapper .slide-wrapper .slide-nav-button {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}
.wrapper .slide-wrapper .slide-nav-previous {
  left: 10px;
}
.wrapper .slide-wrapper .slide-nav-next {
  right: 10px;
}
.wrapper .slide-wrapper .slide-list {
  display: flex;
}
.wrapper .slide-wrapper .slide-list .slide-item {
  flex-shrink: 0;
  padding: 0;
  width: 85vw;
  height: 40vh;
  cursor: grab;
  border: 1px solid red;
}
.wrapper .slide-wrapper .slide-list .slide-item .slide-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.wrapper .slide-wrapper .slide-list .slide-item .slide-content .slide-description {
  color: #fff;
  width: 65%;
}
.wrapper .slide-wrapper .slide-list .slide-item .slide-content .slide-description p {
  color: #878787;
}
.wrapper .slide-wrapper .slide-list .slide-item .slide-content .slide-image {
  width: 30%;
}
.wrapper .slide-wrapper .slide-controls {
  margin: -30px auto 0;
}
.wrapper .slide-wrapper .slide-controls .slide-control-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  margin: 0 3px;
  cursor: pointer;
}
.wrapper .slide-wrapper .slide-controls .slide-control-button.active {
  color: #fff;
}/*# sourceMappingURL=style-slider.css.map */